mixin title(module)
    if module.path
        a(href=module.path)= module.title
    else
        = module.title

mixin generateTemplate(modules)
    ul
        each module in modules
            li
                case module.level
                    when 0
                        h6
                            +title(module)
                    when 1
                        h6
                            +title(module)
                    when 2
                        h6
                            +title(module)
                    when 3
                        h6
                            +title(module)
                    default
                        span
                            +title(module)

                if module.description
                    p= module.description

                if module.children
                    mixin generateTemplate(module.children)

+generateTemplate(modules)